{
  "extends": ["react-app"],
  // more configuration options here!
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-underscore-dangle": "off",
    "one-var": "off",
    "camelcase": "off",
    "no-bitwise": "off",
    "func-names": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "prefer-template": "off",
    "no-restricted-syntax": "off",
    "eqeqeq": "off",
    "react/react-in-jsx-scope": "off",
    "linebreak-style": "off",
    "semi": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-boolean-value": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
